{{!-- Иконка Facebook --}}
<div class="social-icon">
  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdecenter.org%2Fen%2Fnational-arrest-warrant-has-been-issued-against-the-owner-of-ilgamos-and-his-daughter-in-mexico">    
    {{> "icons/facebook"}}
  </a>
</div>

{{!-- Иконка ВКонтакте  --}}
<div class="social-icon">
  <a target="_blank" href="https://vk.com/share.php?url=https%3A%2F%2Fdecenter.org%2Fen%2Fnational-arrest-warrant-has-been-issued-against-the-owner-of-ilgamos-and-his-daughter-in-mexico">    
    {{> "icons/vk"}}
  </a>
</div>

{{!-- Иконка Telegram --}}
<div class="social-icon">
  <a target="_blank" href="{{@custom.telegram_link}}">    
    {{> "icons/telegram"}}
  </a>
</div>

{{!-- Иконка Twitter --}}
<div class="social-icon">
  <a target="_blank" href="https://twitter.com/intent/tweet?text=National%20arrest%20warrant%20has%20been%20issued%20against%20the%20owner%20of%20Ilgamos%20and%20his%20daughter%20in%20Mexico%20https%3A%2F%2Fdecenter.org%2Fen%2Fnational-arrest-warrant-has-been-issued-against-the-owner-of-ilgamos-and-his-daughter-in-mexico">    
    {{> "icons/twitter"}}
  </a>
</div>

{{!-- Иконка Copy-link --}}
<div class="social-icon">
  <i>{{> "icons/copy-link"}}</i>
</div>




{{!-- https://twitter.com/intent/tweet?url={url}&text={title} --}}

