<a class="gh-social-telegram" target="_blank" href="{{@custom.telegram_link}}">
    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_18_8" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12.5 0C19.4036 0 25 5.596 25 12.5C25 19.4036 19.4036 25 12.5 25C5.5964 25 0 19.4036 0 12.5C0 5.596 5.5964 0 12.5 0Z"
                fill="white" />
        </mask>
        <g mask="url(#mask0_18_8)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M-5 -5H30V30H-5V-5Z" fill="#2CA5E0" />
        </g>
        <mask id="mask1_18_8" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="6" y="7" width="12" height="12">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M15.7556 7.89401C16.9673 7.50401 17.5 7.61801 17.2455 8.78001C17.0204 9.80801 15.6186 13.7278 15.2357 14.7585C14.9347 15.569 14.4082 17.3069 14.0153 17.8966C13.2677 18.9333 12.4872 17.5618 12.1562 16.7566C10.5477 13.6046 11.5707 14.4727 7.96786 12.7692C6.76246 12.3178 6.23796 11.4484 7.31626 10.879C7.55088 10.767 8.18418 10.5383 8.86134 10.3026L9.3719 10.1263C10.0488 9.89404 10.6809 9.68234 10.9134 9.60101C11.4365 9.41901 14.5439 8.28401 15.7556 7.89401Z"
                fill="white" />
        </mask>
        <g mask="url(#mask1_18_8)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.73071 2.69202H22.3076V23.2692H1.73071V2.69202Z"
                fill="white" />
        </g>
    </svg>
</a>